.sectionIndex {
    margin-top: 200px;
}


a {
    display: block !important;
    margin: auto !important;
    text-align: center;
}

.mainTitle {
    font-family: 'Plaster', cursive;
    font-size: 6em;
    color: #2a558f;
}


.inputConnect {
    display: inline-block !important;
    margin: auto !important;
    width: 100% !important;
    text-align: center;
}

.btn-connect {
    display: block;
    margin: auto !important;
    width: 100%;
    background-color: #2a558f;
}

.btn-createUser {
    background-color: #C26225;
    font-size: 1.2em;
    border: none;
    transition: 0.5s;
}

.btn-createUser:hover {
    background-color: #a04f1d;
    transition: 0.5s;
    width: 80%;
}

@media screen and(max-width: 992px) {
    .sectionIndex {
        margin-top: 20px;
    }

    .mainTitle {
        font-family: 'Plaster', cursive;
        font-size: 4em;
        color: #2a558f;
        margin-bottom: 100px;
    }
    
    
}