a {
    display: block !important;
    margin: auto !important;
    text-align: center;
}

.mainTitle {
    font-family: 'Plaster', cursive;
    font-size: 6em;
    color: #2a558f;
}

.sectionIndex {
    margin-top: 200px;
}

.inputConnect {
    display: inline-block !important;
    margin: auto !important;
    width: 100% !important;
    text-align: center;
}

.btn-connect {
    display: block;
    margin: auto !important;
    width: 100%;
    background-color: #2a558f;
}